<head>
    <style>
        .row {
            display: grid;
            grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
        }

        .tile {
            display: grid;
            grid-template-columns: auto auto auto;
            border: 1px solid red;
        } 

        .tile .road {
            background: url(https://t3.ftcdn.net/jpg/00/67/32/42/360_F_67324202_9eSsx7EgHkDEnK0AGRkCvliSrd3DCL0C.jpg);
            background-size: contain;
        }

        .tile .grass {
            background: url(https://naldzgraphics.net/wp-content/uploads/2014/07/3-lawn-seamless-grass-texture.jpg);
            background-size: contain;
        }

        .tile .grass, .tile .road {
            height: 17;
        }

        .player, .zombie {
            display:block;
            color: white;
            font-family: Arial;
            border-radius: 125px;
            height: 100%;
        }

        .player {
            background-color: blue;
        }

        .zombie {
            background-color: red;
        }
    </style>
</head>
<body>
    <a href="{{ previousMove }}.html">Previous move</a>
    <a href="{{ nextMove }}.html">Next move</a>
    {% for player in players %}
    <p>Name: {{ player.name }}</p>
    <p>Health: {{ player.health }}</p>
    <p>Energy: {{ player.energy }}</p>
    <p>Attack: {{ player.attack }}</p>
    <p>Move: {{ player.currentMove }}</p>
    {% endfor %}
    {% for row in map %}
        <div class="row">
            {% for tile in row %}
                <div data-tile-id="{{ tile.tileId }}" data-map-tile-id="{{ tile.mapTileId }}" class="tile">
                    <div class="grass"></div>
                    <div class="{{ tile.exits.top ? 'road' : 'grass' }}"></div>
                    <div class="grass"></div>

                    <div class="{{ tile.exits.left ? 'road' : 'grass' }}"></div>
                    <div class="road">{{ tile.hasPlayer ? '<span class="player"></span>' : '' }}{{ tile.hasZombies ? ('<span class="zombie"></span>') : '' }}</div>
                    <div class="{{ tile.exits.right ? 'road' : 'grass' }}"></div>

                    <div class="grass"></div>
                    <div class="{{ tile.exits.bottom ? 'road' : 'grass' }}"></div>
                    <div class="grass"></div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</body>